.notification {
  /* A11y */
  outline: none;
  /* A11y */
  color: white;
  display: flex;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 60px;

}
.label-container {
  display: flex;
  flex-direction: column;
  
}

.label-container h2 {
  font-size:40px;
  margin:30px 0px 0px 0px;

  
}

.label-container p {
  font-size:20px;
  margin-top: 0px;
}
.success {
  background-color: #2D6A4F;
}
.question {
  background-color: #B8B5FF;
}
.warning {
  background-color: #FCA652;
}
.error {
  background-color: #F05454;
}

.icon-container {
 margin-top: auto;
}
.bubble-container {
  overflow: hidden;
  height: 70px;
  border-radius: 32px;
}

.circle-icon {
  position: absolute;
  bottom: 70px;
  left: 30px
 
  
}

.bubble-icon {
  position:relative;
  right: 40px;
}

/* Positioning */
.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.notification-container {
  display: flex;
  /* Stack notifications from bottom to top */
  align-items: flex-end; /* Align notifications to the right */
}

.notification-container.bottom {
  flex-direction: column-reverse;
}
.notification-container.top {
  flex-direction: column;
}
/* Positioning */

.closeBtn {
  margin-left: 5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}
.popup {
  animation: popup 0.5s ease-out;
}
.slideIn {
  animation: slideIn 0.5s ease-out;
}
/* Animations */
