@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.notification {
  /* A11y */
  outline: none;
  /* A11y */
  color: white;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 3.125rem;
  font-family: "Poppins", serif;
  font-style: normal;
  max-width: 700px;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.label-container h2 {
  font-size: 2.125rem;
  margin: 1.875rem 0 0 0;
  font-weight: 400;

}

.label-container p {
  font-size: 0.875rem;
  margin: 0.625rem 0 1.875rem 0;
  font-weight: 300;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.success {
  background-color: #2D6A4F;
}

.question {
  background-color: #B8B5FF;
}

.warning {
  background-color: #FCA652;
}

.error {
  background-color: #F05454;
}

.icon-container {
  margin-top: auto;
}

.bubble-container {
  overflow: hidden;
  height: 5rem;
  border-radius: 2rem;
}

.circle-icon {
  position: absolute;
  bottom: 70%;
  left: 1.875rem;
}

.bubble-icon {
  position: relative;
  right: 2.5rem;
}

/* Positioning */
.top-right {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
}

.top-left {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
}

.bottom-right {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
}

.bottom-left {
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
}

.notification-container {
  display: flex;
  /* Stack notifications from bottom to top */
  align-items: flex-end; /* Align notifications to the right */
}

.notification-container.bottom {
  flex-direction: column-reverse;
}

.notification-container.top {
  flex-direction: column;
}

.closeBtn {
  margin: 1.25rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  place-self: flex-start;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.popup {
  animation: popup 0.5s ease-out;
}

.slideIn {
  animation: slideIn 0.5s ease-out;
}
